<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Usuário</title>
    <link rel="stylesheet" href="../static/styles/Main.css">
</head>
<body>
    <form action="/cadastrar" method="POST">
        <input name="name" type="text" placeholder="Nome completo">
        <input name="email" type="email" placeholder="Seu email">
        <input name="senha" type="password" placeholder="Sua senha">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>